:root {
    --primary-dark-border:rgb(5, 139, 0);
    --primary-active-border: rgb(7, 196, 0);
    --passive-border: lightgrey;

    --passive-font-color: lightslategray;
    --passive-button: rgb(99, 160, 99);
}