@import './colors.css';

/* fieldsets */
fieldset{
    border: 2px solid var(--primary-dark-border);
    height: max-content;
    padding: 10px;
    margin: 5px;
}
fieldset legend{
    width: auto;
    padding: 0 0.5rem;
    float: none;
}
#fieldsetin{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
fieldset h5{
    padding-left: 8px;
}


/* body */
body{
    padding: 2%;
}
main{
    width: 75%;
    margin: 0 auto;
}

/* drowpdown */
.dropdown-menu{
    max-height: 200px;
    overflow-y: auto;
}
.dropdown{
    padding: 5px;
}

#country-map{
    /* display: none; */
    flex: 0 0 30%;
}
#country-map img{
    width: 100%;
}
#country-climate{
    flex: 0 0 50%;
}

#temperatureSelect{
    display: none;
    padding: 5px;
}

.temperatures-colors{
    width: 100%;
    text-align: center;
}
#temperature-dropdown{
    padding: 5%;
}

/* boxes css */
.filterSections{
    padding-left: 10px;
}

.filterSubSection{
    display: flex;
    flex-wrap: wrap;
}

.boxWithImageText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    opacity: 0.5;
}

.boxWithImageTextSmall{
    height: 115px !important;
    width: 115px !important;
}
.boxWithImageText:hover{
    opacity: 0.9;
    border: 2px solid var(--passive-border);
}

.boxWithImageTextSelected{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 150px;
    margin: 10px;
    padding: 5px;
    border: 2px solid var(--primary-active-border);
}