@import './colors.css';
@import '../fonts/fonts.css';

/* fieldsets */
fieldset{
    border: 2px solid var(--primary-dark-border);
    height: max-content;
    padding: 10px;
    margin: 5px;
}
fieldset legend{
    width: auto;
    padding: 0 0.5rem;
    float: none;
}
#fieldsetin{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
fieldset h5{
    padding-left: 8px;
}


/* body */
body{
    padding: 2%;
}
main{
    width: 75%;
    margin: 0 auto;
}

/* drowpdown */
.dropdown-menu{
    max-height: 200px;
    overflow-y: auto;
}
.dropdown{
    padding: 5px;
}

#country-map{
    /* display: none; */
    flex: 0 0 30%;
}
#country-map img{
    width: 100%;
}
#country-climate{
    flex: 0 0 50%;
}

#temperatureSelect{
    display: none;
    padding: 5px;
}

.temperatures-colors{
    width: 100%;
    text-align: center;
}
#temperature-dropdown{
    padding: 5%;
}

/* boxes css */
.filterSections{
    padding-left: 10px;
}

.filterSubSection{
    display: flex;
    flex-wrap: wrap;
}

.boxWithImageText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    opacity: 0.5;
}

.boxWithImageTextSmall{
    height: 115px !important;
    width: 115px !important;
}
.boxWithImageText:hover{
    opacity: 0.9;
    border: 2px solid var(--passive-border);
}

.boxWithImageTextSelected{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 150px;
    margin: 10px;
    padding: 5px;
    border: 2px solid var(--primary-active-border);
}

.form-check-input, .form-check-label{
    cursor: pointer;
}

/* soil section */
.megaSection{
    display: flex;
    justify-content: space-between;
}
.checksMegaSection{
    display: block;
}
.checksMegaSection > div{
    margin-left: 15px;
}
.checksMegaSection >div:first-child{
    margin-top:25px;
}
.checksMegaSection span{
    color: var(--passive-font-color);
}

#soilPHSection, #lifeCycleSection{
    flex: 0 1 25%;
}

/* tolerance */

.toleranceRadioTitle{
    font-weight: bold;
    padding-right: 25px;
}

td{
    text-align: left;
    vertical-align: top;
}

table{
    border-spacing: 10px;
    border-collapse: separate;
}

/* Usage section */

.checksMainContent > div{
    margin-left: 15px;
}

/* size section */
.treeImg{
    padding-left: 8px;
    height: 80px;
}
.growthImg{
    padding-left: 8px;
    height: 60px;
}

/* color boxes */

.colorBoxWithImageText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 75px;
    padding: 5px;
    margin: 10px;
    opacity: 0.5;
}

.colorBoxWithImageText:hover{
    opacity: 0.9;
    border: 2px solid var(--passive-border);
}

.colorBoxWithImageTextSelected{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 75px;
    margin: 10px;
    padding: 5px;
    border: 2px solid var(--primary-active-border);
}

/* persistence scent */

#persistenceSection{
    flex: 0 0 50%;
}
#scentSection{
    flex: 0 0 50%;
}

/* float buttons */
#floatButtons{
    width: 30%;
    height: 50px;
    text-align: center;
    background-color: var(--passive-button);
    opacity: 0.95;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
}