.results{
    margin-top: 5%;
    width: 100%;
}

.plant-item{
    display: flex;
    width: max-content;
    margin-right: 0px;
}

.img-plants{
    width: 128px;
    height: 96px;
    max-width: 375px; overflow: hidden; 
}
.plant-attributes{
    width: max-content;
}
.plant-attributes>a{
    text-decoration: none;
    color: #5faa45;
}
.Scientific-Names-plant{
    display: inline;
    margin-right: 1%;
}
.Common-Names-plant{
    display: inline;
    color: grey;
}
