@media only screen and (min-width: 768px) {
    p, label{
        font-size: 1.4vw;
    }
    h1{
        font-size: 3.5vw;
    }
    h2{
        font-size: 2.7vw;
    }
    legend{
        font-size: 2vw;
    }
    h5{
        font-size: 1.75vw;
    }
    
    /* for search_by_criteria */
    .boxWithImageText:hover{
        opacity: 0.9;
        border: 0.2vw solid var(--passive-border);
    }
    fieldset{
        border: 0.2vw solid var(--primary-dark-border);
        height: max-content;
        padding: 10px;
        margin: 5px;
    }
    .boxWithImageText{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 29vh;
        width: 13.2vw;
        padding: 2%;
        margin: 4%;
        opacity: 0.5;
    }
    .boxWithImageTextSmall{
        height: 22.46vh !important;
        width: 10.11vw !important;
    }
    .boxWithImageTextSelected{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 29vh;
        width: 13.2vw;
        padding: 2%;
        margin: 4%;
        border: 0.2vw solid var(--primary-active-border);
    }
}
